.media-img[b-96cbv23ok7] 
{
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .5s;
}

.media-img:hover[b-96cbv23ok7] 
{
    transform: scale(1.1);
}

.media[b-96cbv23ok7]
{
    display: flex;
    align-items: flex-start;
}

.media-body[b-96cbv23ok7]
{
    flex: 1;
}

.media-img-wrapper[b-96cbv23ok7]
{
    width: 200px;
    text-align: center;
}

@media (max-width: 1023.98px)
{
    .media[b-96cbv23ok7]
    {
        flex-direction: column;
    }
    .media-img-wrapper[b-96cbv23ok7]
    {
        width: 100%;
        height: auto;
    }
}
