.show-menu[b-xrpyd4hhtt]
{
    display: block;
}

.user-button[b-xrpyd4hhtt]
{
    margin-left: 0.5rem;
}

.top-row a[b-xrpyd4hhtt]
{
    margin-left; 0;
}

.dropdown-item:hover[b-xrpyd4hhtt]
{
    background-color: white;
}